.container {
    background: linear-gradient(to right, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background: #d0e4f7;
    /* Old browsers */
    background: -moz-linear-gradient(left, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%);
    /* Chrome10-25,Safari5.1-6 */
    position: fixed;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    left: 0;
    top: 0;
}

.jumbotron {
    margin: 20px auto;
}

#credentials {
    padding: 10px;
    margin: 50px auto;
    width: 50%;
}

.form-control {
    border-radius: 20px;
}

.submitButton {
    background-color: blue;
    border: 1px solid black;
    border-radius: 20px;
    transition: 0.4s ease-in-out;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.submitButton:hover {
    background-color: yellow;
    text-decoration: underline;
    color: blue;
}